/* ============================== General ================================= */
*{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya', serif;
  }
body {
    color: #44433e;
}

p {
    margin-bottom: 20px;
    margin-top: 20px;
}
body, html{
  background-color: whitesmoke;
  height:100%;
  margin:0;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.row{
  margin: 0px;
  padding: 0px;
}

/* ============================== Header ================================= */
header{
    background-color:whitesmoke;
    position: fixed;
    top:0;
    z-index: 1;
    height: 14.2%;
    display: flex; 
    justify-content: space-between;
     width: 100%; /*Full width */
     /* flex-flow:row wrap; */
  }
  section {
    margin-top: 20vh;
  }


  h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
    font-weight: normal;
}

.div{
  background-color:whitesmoke;

}
  header .logo img{
    /* display:inline; */
    max-width: 13vw ;
    max-height: 10vh;
    vertical-align: middle;
  }
header ul {
  margin: 0;
  padding: 0;
  justify-content: space-around;
  background-color: whitesmoke;
  align-items:center;
  display: flex;
}

  header .active {
    background-color: #ffe680;
  }
  
  header li {
    display:flex;
    align-items:center;
    float: left;
    top:0;
    background-color: whitesmoke;
    padding-right: 10px;
    font-size:2rem;
    display: inline; 
    max-height: 100%;
  }
  
  header li > a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 1.4vh 1.6vw;
    text-decoration: none;
  }
  
  header li a:hover, .dropdown:hover .dropbtn {
    background-color:#ffe680;
  }
  
  /* li>.dropdown {
    display: inline;/*sluzi da elementi pod proizvodom budu jedan ispod drugog*/
    /* position: absolute; 
    
  } */
  
  header .dropdown-content {
    display: none;
    position: absolute;
    /* top:6vh; ovo koristi ako hoces da pozicioniras pod meni ispod u odnosu na Proizvode*/
    background-color: #f9f9f9;
    min-width: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(221, 147, 10, 0.507);
   
  }
  
  header .dropdown-content > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  header .dropdown-content a:hover {
    background-color: #f1f1f1;
   
  }
  
  header .dropdown:hover .dropdown-content {
    display: block;  
  } 

  .bottom-50{
    padding-bottom: 50px;
    padding-top: 50px;
}

  .col{
    position: absolute;
    right: 10px;
    top: 30px;
    width: 30%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .product-image-container-c {
      padding-top: 550px;
    margin: auto;
    max-width: 1080px;
    background-image: url(../img/cvetni-final.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 280px;
  }

  .list-group{
    padding-top: 60px;
    font-family: 'Sintony', sans-serif;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 300;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #FFBF00;
    border-color: #FFC926;
  }
  a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
  }
  a.list-group-item, button.list-group-item {
    color: #555;
  }

    /*price*/
    .product-price-container{
      background-color: #FFBF00;
      height: 16%;
      justify-content: space-around;
      width: 70%;
      padding-top: 2%;
    }
    .price-wrap{
      background-color: #FFBF00;
      height: 16%;
      padding-left: 22%;
    }
  
    .product-price-container span{
      padding: 15px 10px 15px 10px;
      background-color: #EEEEEE;
      border: 1px solid #CCCCCC;
      border-radius: 12px;
      font: inherit;
      color: #666666;
      }
  
      /*responzivnost*/
  
      @media screen and (max-width: 1100px) { 
        .col{
          width: 100%;
        }
        .product-image-container-c{
          padding-top: 450px;
        }
      }

  /* ============================== Footer ================================= */

  footer{
    text-align: center;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-top: 1px solid #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
    height: 150px;
  }
  footer p{ 
    margin-top: 2rem;
  }

  .column {
    float: left;
    width: 33.33%;
    text-align-last: center;
    column-rule: 4px double #000;
    color:#e6b800;
    background-color: #fff;
    border-right: 1px dashed #e6b800;
    
  }
  .column img{
    max-width: 200px;
    max-height: 200px;
  }
  i.fa{
    font-size: 48px;
    margin-left: .5rem;
    position: relative;
    top: 1rem;
    color: #e6b800;
  }

  /* responzivnost za footer */
@media screen and (max-width: 1100px) {
    
    .wrap {
      justify-content: space-around;
    }
    footer{
      padding-top: 2.2rem;
      padding-bottom: 0.75rem;
      height: 100px;
    }
    #footer-logo{
      max-width: 227.5px;
      max-height: 175px;
    }
    .column{
      width: 100%;
    }
    header .logo a{
      padding: 0 10px ;
    }
    header .logo img{
      max-width: 130px;
      max-height: 120px;
    }
    footer .row :nth-child(2) p{
      margin:0px 10px 20px; 
    }
    footer div hr {
      display: none;
    }
    h1.team-title {
      font-size: 2rem;
    }
  
  }
  @media screen and (max-width: 800px) {
  
  header li:not(.logo) {
    font-size: 1.5rem;
  }
    header .logo img{
      max-width:132px;
      max-height:120px;
    }
  }
  @media screen and (max-width: 600px) {
      body {
        display: table-cell;
        vertical-align:middle;
    }
    header li:not(.logo) {
      font-size: 1.05rem;
      padding-left: 0px;
      padding-right:5px;
      /* justify-self: start; */
      /* width: 15vw; */
    }
    header ul{
    width: 95%;
    }
    header li a{
      padding: 0px;
    }
    header .logo img{
      max-width: 92px;
      max-height: 88px;
    }
  }